<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>Bạn đã mua thành công sản phẩm <span style="font-weight: 600; font-size: 20px">{{productName}}</span></h3>
    <p>- Mã đơn hàng: <span style="font-weight: 600; font-size: 20px">{{orderNumber}}</span></p>
    <img style="width: 300px" src={{imgPath}} />
    <p>Bạn sẽ nhận được email khi đơn hàng được cập nhật.</p>
</body>
</html>